<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejemplificación de un componente Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://images.unsplash.com/photo-1523280988476-b7490bb036e1?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <ion-card-header>
        <ion-card-title>Camping</ion-card-title>
        <ion-card-subtitle>Actividades exteriores</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        El camping es una actividad que se realiza al aire libre, en contacto con la naturaleza, 
        en la que se duerme en una tienda de campaña o en un vehículo acondicionado para ello. 
        Es una actividad que se realiza en un entorno natural, como un bosque, un río, un lago, una montaña o una playa, 
        y que permite disfrutar de la naturaleza y de la tranquilidad del entorno.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
